@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');



#grid-container{
    display: grid;
    grid-template-areas: ". header ."
    ". main ."
    ". aside ."
    ". footer .";
    grid-template-columns: 0.25fr 2fr 0.25fr;
}

/*justerte grid på header main aside og footer for å få alle i midten*/

body{
    background: url(bilder/bakgrunn1.jpg) no-repeat;
    margin: 0;
    background-size: cover;
    background-position: relativ;
    position: relative;
}

div {
    box-sizing: border-box;
    display: flex;
flex-flow: row wrap;
  }

  

.table {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr; 
    max-width: 480px;
}

.table > div {
    border-radius: 10px;
  margin: 2px;
  background: rgb(109, 219, 241);
  padding: 5px;
}

.table > div:nth-child(3n+2) {
    background: rgb(109, 219, 241);
}

.table > div:nth-child(3n+3) {
    background: rgb(109, 219, 241);
}

/*https://markheath.net/post/simple-tables-with-css-grid-layout*/ /*kilden jeg brukte for å sette opp responsiv tabell med html og flex*/

/*pyntet body med bakgrunnsbilde og dekket hele nettsiden*/

nav{
    display: flex;
    
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
}

nav ul li{
    text-decoration: none;
    font-size: 17px;
    color: white;
    padding: 16px 17px;
}



header{
    font-family: 'Secular One', sans-serif;
    border-radius: 30px;
    box-shadow: 20px 20px 50px 10px rgb(213, 209, 219) inset;
    /*kilde: https://www.w3schools.com/cssref/playdemo.asp?filename=playcss_box-shadow&preval=20px%2020px%2050px%2010px%20pink%20inset*/
    background-color: bisque;
    grid-area: header;
    display: flex;
    justify-content: center;
}

header p{
    display: flex;
    align-items: flex-end;

    
}


/*Justering på hvor hovedpunktet skal holde seg til ved siden av logo*/

main{
    border-radius: 30px;
    box-shadow: 20px 20px 50px 10px rgb(213, 209, 219) inset;
    /*kilde: https://www.w3schools.com/cssref/playdemo.asp?filename=playcss_box-shadow&preval=20px%2020px%2050px%2010px%20pink%20inset*/
    background-color: bisque;
    grid-area: main;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


main p{
    font-family: 'Secular One', sans-serif;
    max-width: 600px;
}


/*prøvde mitt beste å gjøre til en simple og basisk tabell med grid og flex siden jeg forstår ikke css så bra*/

section{
    display: flex;
    align-items: center;
    max-width: 1000px;

}

/*la til en font som kan brukes på alle sider og fikk alle section artikkelkort holde seg sentralt på nettsiden*/

article{
    display: flex;
    font-family: 'Secular One', sans-serif;
    justify-content: center;
}

article a{
    height: 1rem;
    font-family: 'Secular One', sans-serif;

}

article p{
    padding: 1rem;
    width: 2rem;    
    align-self: flex-end;
    
}

/*prøvde mitt beste å sentralisere kortforklaringsskrift på artikkelkortene. fikk ikke til som ønsket akkurat, men man kan skjønne hva som skal forklares for de ulike temaene*/


.articles{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}

img{
    border-radius: 20px;
    display: block;
    width: 128px; height: 128px;
}
 /*har justert på størrelse av bilder på nettsiden og logo*/

h2{
    font-family: 'Secular One', sans-serif;
    justify-content: left;
}

h2 p{
    justify-content: left;
}

h3{
    font-family: 'Secular One', sans-serif;

}

ul{
    font-family: 'Secular One', sans-serif;
}

 input[type=text], select, textarea {
      border: 1px solid #ccc;
      border-radius: 4px; 
      box-sizing: border-box; 
    }
    
    input[type=submit] {
      border-radius: 4px;
      cursor: pointer;
    }
    
    /*https://www.w3schools.com/howto/howto_css_contact_form.asp kilde på kontakt oss format*/


footer{
    border-radius: 30px;
    box-shadow: 20px 20px 50px 10px rgb(213, 209, 219) inset;
    /*kilde: https://www.w3schools.com/cssref/playdemo.asp?filename=playcss_box-shadow&preval=20px%2020px%2050px%2010px%20pink%20inset*/
    background-color: bisque;
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    font-family: 'Secular One', sans-serif;
}

 .fa {
    padding: 20px;
    
  }
  
  .fa:hover {
    opacity: 0.7;
  }
    
    /*https://www.w3schools.com/howto/howto_css_social_media_buttons.asp kilde på sosiale medier knapper og ikon. har justert litt og fikk med instagram*/

/*lagde mellomrom mellom kontakt oss og copyright for å skille hva som skal trykkes på*/

